- if shows && shows.size > 0
  %table
    %thead
      %tr
        %th{ :scope => "col" }
          Show
        %th{ :scope => "col" }
          Season Count
        %th{ :scope => "col" }
          Episode Count
        %th{ :scope => "col" }
          Actions
    %tbody
      - shows.each_with_index do |show, idx|
        %tr{:class=>"#{is_odd_index(idx) ? 'odd' : 'even'}"}
          %td
            %a{ :href=>"/admin/show/#{show.pid}/edit" }
              = show.name
          %td
            = show.season.size
          %td
            = show.episode.size
          %td
            %a{ :href => "#" }
              Make Live
            |
            %a{ :href => "#" }
              Make Pending
            |
            %a{ :href => "#" }
              Delete
- else
  %h2
    No shows found matching criteria
