- showcase_episodes = default_showcase.sorted
-# if showcase_episodes.size > 0
#featured_home.clearfix
  .bigimg
    %img#slider_main_img{ :src => "/images/lftv-poster.png" }
    .appear{:style=>"float:left;"}
      %a#slider_rating
        &nbsp;
    .post_info_holder.clearfix

      .post_name.appear
        %a#slider_airdate
          &nbsp;

      %a#slider_img_tit.appear{ :href => "#" }
      %a#slider_video{:href=>"#", :rel=>"shadowbox;width=715;height=435;player=swf"}
      %a#slider_img_desc{ :href => "#" }

      %script{:type=>"text/javascript"}
        $().ready(function(){
        $('#slider_video').hide();
        $('.appear').hide();

        $($("#slider_ul > li")[0]).trigger("click");
        
        });
      
    /
      END "post_info_holder"  //
  /
    END "bigimg"  //
  #slider_desc_info
    .post_name.appear
      #slider_description
        &nbsp;
  #slider.slider
    #slider_max.minus
      %img#round_max.round{ :src => "/images/slider_round.png", :alt => "round" }
      %img#sign_max.sign{ :src => "/images/slider_round_minus.png", :alt => "minus" }
    #thumbs.thumbs
      #sl_content.slider_content
        %ul#slider_ul
          - showcase_episodes.each do |episode|
            - ed = episode.ep.released_date
            %li
              %img{ :src => "/scripts/timthumb.php?src=#{episode.ep.poster}&amp;h=100&amp;w=52&amp;zc=1&amp;zw=152&amp;zh=100&amp;zow=0&amp;zoh=0", :alt => episode.ep.name }
              %a.slider_tit{ :href => episode.ep.s.uri }
                .show_icon
                  %img.show_icon_frame{:src=>"/images/show_icon_frame.png"}
                  %img.show_icon_img{ :src => "/scripts/timthumb.php?src=#{episode.ep.s.poster}&amp;h=81&amp;w=155&amp;zc=0", :alt => episode.ep.s.name }

              %a.slider_desc{ :href => episode.ep.uri }
                Episode: 
                = episode.ep.name
                
              %a.slider_img{ :href => "/scripts/timthumb.php?src=#{episode.ep.poster}&amp;h=518&amp;w=920&amp;zc=1&amp;zw=920&amp;zh=350&amp;zow=0&amp;zoh=84" }
              %a.slider_swf{ :href => episode.ep.hd_swf_url, :rel=>"shadowbox;width=715;height=435;player=swf"}
                %img.icon_n{:src=>"/images/play_ico.png"}
                %img.icon_h{:src=>"/images/play_ico_h.png"}

              %a.slider_airdate{ :href=> "#"}
                Air Date:
                = "#{ed.month_str} #{ed.day_of_month}, #{ed.year}"
              %a.slider_description{ :href=>"#"}
                - ed = episode.ep.description["long"]
                - if ed
                  = ed.content
                - else
                  No description
              %a.slider_rating{:href=>""}
                - # content-rating
                - if episode.ep.content_rating
                  %img{:src=>"/images/tvratings/#{episode.ep.content_rating}.gif",:width=>"60"}
                - else
                  %img{:src=>"/images/tvratings/TV-G.gif",:width=>"60"}

        /
          END "slider_ul"  //
      /
        END "sl_content"  //
    /
      END "thumbs"  //
    #slider_min.plus
      %img#round_min.round{ :src => "/images/slider_round.png", :alt => "round" }
      %img#sign_min.sign{ :src => "/images/slider_round_plus.png", :alt => "plus" }
    /
      END "slider_min"  //
  /
    END "slider"  //
/
  END "featured_home"  //

= partial("showshight")
