&nbsp;

#content_wrap
  #inner_content
    
    - shows.each do |show|
      = partial("showhighlight",{:show=>show})

    - if shows.size == 0
      %strong
        No Shows Found Matching Criteria

  #sidebar_home
    .widget
      %h3.widget_title
        Genera Filter
      - if params[:genera] || params[:order] || params[:rating]
        .widget_content
          - if params[:genera]
            [
            %a{:href=>"/shows?#{params[:order] ? 'order='+params[:order] : ''}#{params[:rating] ? '&rating='+params[:rating] : ''}"}
              X
            ] Remove genera filter
            %br
          - if params[:rating]
            [
            %a{:href=>"/shows?#{params[:order] ? 'order='+params[:order] : ''}#{params[:genera] ? '&genera='+params[:genera] : ''}"}
              X
            ] Remove rating filter
            %br
          - if params[:order]
            [
            %a{:href=>"/shows?#{params[:genera] ? 'genera='+params[:genera] : ''}#{params[:rating] ? '&rating='+params[:rating] : ''}"}
              X
            ] Remove order filter
            

      .widget_content
        %ul
          - generas.each do |genera|
            %li
              %a{:href=>"/shows?genera=#{genera.pid}#{params[:order] ? '&order='+params[:order] : ''}#{params[:rating] ? '&rating='+params[:rating] : ''}"}
                = genera.name

    .widget
      %h3.widget_title
        Rating Filter
      .widget_content
        %ul
          %li
            %a{:href=>"/shows?rating=TV-C#{params[:order] ? '&order='+params[:order] : ''}#{params[:genera] ? '&genera='+params[:genera] : ''}"}
              TV-C
          %li
            %a{:href=>"/shows?rating=TV-8#{params[:order] ? '&order='+params[:order] : ''}#{params[:genera] ? '&genera='+params[:genera] : ''}"}
              TV-8
          %li
            %a{:href=>"/shows?rating=TV-G#{params[:order] ? '&order='+params[:order] : ''}#{params[:genera] ? '&genera='+params[:genera] : ''}"}
              TV-G
          %li
            %a{:href=>"/shows?rating=TV-PG#{params[:order] ? '&order='+params[:order] : ''}#{params[:genera] ? '&genera='+params[:genera] : ''}"}
              TV-PG
          %li
            %a{:href=>"/shows?rating=TV-14#{params[:order] ? '&order='+params[:order] : ''}#{params[:genera] ? '&genera='+params[:genera] : ''}"}
              TV-14
          %li
            %a{:href=>"/shows?rating=TV-18#{params[:order] ? '&order='+params[:order] : ''}#{params[:genera] ? '&genera='+params[:genera] : ''}"}
              TV-18


    .widget
      %h3.widget_title
        Sort Order
      .widget_content
        %ul

          %li
            %a{:href=>"/shows?order=ades#{params[:genera] ? '&genera='+params[:genera] : ''}#{params[:rating] ? '&rating='+params[:rating] : ''}"}
              Alphabetical Descending
          %li
            %a{:href=>"/shows?order=aass#{params[:genera] ? '&genera='+params[:genera] : ''}#{params[:rating] ? '&rating='+params[:rating] : ''}"}
              Alphabetical Assending
          %li
            %a{:href=>"/shows?order=nsf#{params[:genera] ? '&genera='+params[:genera] : ''}#{params[:rating] ? '&rating='+params[:rating] : ''}"}
              Newest Show First
          %li
            %a{:href=>"/shows?order=nsl#{params[:genera] ? '&genera='+params[:genera] : ''}#{params[:rating] ? '&rating='+params[:rating] : ''}"}
              Newest Show Last

  /
    END "sidebar_home"  //
/
  END "content_wrap"  //
