- show_episodes = ( show ? show.sorted_released_episodes : [] )
-# if show && show.poster
-#  %img{ :src => "/scripts/timthumb.php?src=#{show.poster}&amp;h=518&amp;w=920&amp;zc=1&amp;zw=920&amp;zh=350&amp;zow=0&amp;zoh=84", :alt => show.name }

- if show_episodes.size > 0
  #featured_home.clearfix
    .bigimg
      -# %img#slider_main_img{ :src => "/scripts/timthumb.php?src=#{(show_episodes.size > 0 ? show_episodes[0].poster : '/images/img1.jpg')}&amp;h=518&amp;w=920&amp;zc=1&amp;zw=920&amp;zh=350&amp;zow=0&amp;zoh=84", :alt => show_episodes[0].name }
      %img#slider_main_img{ :src => "/scripts/timthumb.php?src=#{show.poster}&amp;h=518&amp;w=920&amp;zc=1&amp;zw=920&amp;zh=350&amp;zow=0&amp;zoh=84", :alt => show.name }
      .appear{:style=>"float:left;"}
        %a#slider_rating
          &nbsp;
      .post_info_holder.clearfix


        .post_name.appear
          %a#slider_airdate
            &nbsp;

        %a#slider_img_tit.appear{ :href => "#" }
        %a#slider_video{:href=>"#", :rel=>"shadowbox;width=715;height=435;player=swf"}
        %a#slider_img_desc{ :href => "#" }


        /
          .appear{:style=>"float:left;"}
            %a#slider_rating
              &nbsp;

          .post_category.appear
            %a#slider_video{:href=>"#", :rel=>"shadowbox;width=715;height=435;player=swf"}

          .post_category.appear
            %a#slider_img_tit.appear{ :href => "#" }

          .post_category.appear
            %a#slider_img_desc{ :href => "#" }

          .post_name.appear
            %a#slider_airdate
              &nbsp;
          .post_name.appear
            %a#slider_description
              &nbsp;


        

        .post_name{:style=>"display:none;"}
          %a#slider_video{:rel=>"shadowbox;width=715;height=435;player=swf"}
            %script{:type=>"text/javascript"}
              $().ready(function(){
              $('#slider_video').hide();
              $('.appear').hide();
              });

            - if defined? episode_id
              %script{:type=>"text/javascript"}
                $().ready(function(){
                //$("form:first").trigger("submit")
                $("##{episode_id}").trigger("click");
                setTimeout("$('#slider_video').trigger('click');",1000);

                //Shadowbox.play();
                });
            - else
              %script{:type=>"text/javascript"}
                $().ready(function(){
                //$("form:first").trigger("submit")
                $($("#slider_ul > li")[0]).trigger("click");
                //$("##{episode_id}").trigger("click");
                });
        /
          #post_details
            = show_episodes[0].long_description
      /
        END "post_info_holder"  //
    /
      END "bigimg"  //
    #slider_desc_info
    .post_name.appear
      #slider_description
        &nbsp;

    #slider.slider
      #slider_max.minus
        %img#round_max.round{ :src => "/images/slider_round.png", :alt => "round" }
        %img#sign_max.sign{ :src => "/images/slider_round_minus.png", :alt => "minus" }
      #thumbs.thumbs
        %script{:type=>"text/javascript"}
          $().ready(function(){
          $('li .info_thumb').hover(function(){
          group = jQuery("div.info_thumb_group", this);
          $(group).removeClass('hide_info');
          $(group).addClass('show_info');
          },function(){
          group = jQuery(".info_thumb_group", this);
          $(group).removeClass('show_info');
          $(group).addClass('hide_info');
          });
          });

        #sl_content.slider_content
          %ul#slider_ul
            - show_episodes.reverse.each do |episode|
              %li{:id=>episode.url_id}
                .info_thumb
                  %img.thumbnail_episode{ :src => "/scripts/timthumb.php?src=#{episode.poster}&amp;h=120&amp;w=182&amp;zc=1&amp;zw=182&amp;zh=120&amp;zow=0&amp;zoh=0", :alt => episode.name }
                  .info_thumb_group.hide_info
                    .info_thumb_name
                      %span.ep_thumb_show
                        = episode.s.name
                      %br
                      %span.ep_thumb_name
                        Ep.
                        = episode.sequence_order
                        \:
                        = episode.name




                %a.slider_tit{ :href => episode.s.uri }
                  .show_icon
                    %img.show_icon_frame{:src=>"/images/show_icon_frame.png",:alt=>episode.s.name}
                    %img.show_icon_img{ :src => "/scripts/timthumb.php?src=#{episode.s.poster}&amp;h=81&amp;w=155&amp;zc=0", :alt => episode.s.name }

                %a.slider_desc{ :href => episode.uri }
                  Ep
                  = episode.sequence_order
                  \:
                  = episode.name
                  .running_time
                    [
                    = episode.running_time
                    ]

                %a.slider_img{ :href => "/scripts/timthumb.php?src=#{episode.poster}&amp;h=518&amp;w=920&amp;zc=1&amp;zw=920&amp;zh=350&amp;zow=0&amp;zoh=84" }
                %a.slider_swf{ :href => episode.escaped_hd_url, :rel=>"shadowbox;width=715;height=435;player=swf"}
                  %img.icon_n{:src=>"/images/play_ico.png"}
                  %img.icon_h{:src=>"/images/play_ico_h.png"}
                %a.slider_airdate{ :href=> "#"}
                  - ed = episode.released_date
                  Air Date: 
                  = "#{ed.month_str} #{ed.day_of_month}, #{ed.year}"
                %a.slider_description{ :href=>"#"}
                  - ed = episode.description["long"]
                  - if ed
                    .ep_synopsis_title
                      Episode Synopsis:
                    = ed.content
                  - else
                    No description
                %a.slider_rating{:href=>""}
                  - # content-rating
                  - if episode.content_rating
                    %img{:src=>"/images/tvratings/#{episode.content_rating}.gif",:width=>"60"}
                  - else
                    %img{:src=>"/images/tvratings/TV-G.gif",:width=>"60"}

          /
            END "slider_ul"  //
        /
          END "sl_content"  //
      /
        END "thumbs"  //
      #slider_min.plus
        %img#round_min.round{ :src => "/images/slider_round.png", :alt => "round" }
        %img#sign_min.sign{ :src => "/images/slider_round_plus.png", :alt => "plus" }
      /
        END "slider_min"  //
    /
      END "slider"  //
  /
    END "featured_home"  //

  #message_buttons
    .button1
      %a{:href=>"/"}
        Featured Shows
    .button2
      %a{:href=>"/shows"}
        All Shows


  #content_wrap
    #inner_content


      .entry
        - if show.highlight_image && show.highlight_image.strip.length > 0
          %img.show_poster{:src=>show.highlight_image}
        - else
          %img.show_poster{ :src => "/scripts/timthumb.php?src=#{show.poster}&amp;h=315&amp;w=560&amp;zc=1&amp;zw=560&amp;zh=170&amp;zow=0&amp;zoh=70", :alt => show.name }

        .title_holder
          %h1
            About
            = show.name



        .entry_content
          %p
            = show.description
        /
          END "entry_content"  //
      /
        END "entry"  //

      
      /
        A GALLERY?

      .entry

        .title_holder
          %h1
            Episode List
        /
          END "title_holder"  //
        .entry_content
          .episode_list
            - sep = show_episodes.reverse
            - rows = (sep.size / 3).to_i
            - rows += 1 if ((sep.size % 3) > 0)
            - 0.upto(rows).each do |row|
              .episode_block
                - 0.upto(2) do |i|
                  - if sep[i+(row*3)]
                    = haml :'snippets/episode_block',:layout=>false,:locals=>{:episode=>sep[i+(row*3)]} 
              

        /
          END "entry_content"  //
      /
        END "entry"  //


    #sidebar_home
      

      .widget
        %h3.widget_title
          Genre's
        .widget_content
          %ul
            - show.genera.each do |genera|
              %li
                %a{:href=>"/shows?genre=#{genera.pid}"}
                  = genera.name

      .widget
        %h3.widget_title
          Credits
        .widget_content
          %script{:type=>"text/javascript"}
            $().ready(function(){
            $(".credit_less").hide();
            $('.credit_desc').hide();
            
            $(".credit_less").click(function(){
            jQuery(this).siblings('.credit_more').show();
            jQuery(this).hide();
            jQuery(this).siblings('.credit_desc').hide();
            return false;
            });

            $(".credit_more").click(function(){
            jQuery(this).hide();
            jQuery(this).siblings('.credit_less').show();
            jQuery(this).siblings('.credit_desc').show();
            return false;
            });

            });
          .show_cast
            .cast_title
              Cast
            - show.ordered_cast.each do |cr|
              .credit
                %img{:src=>"/images/credit.png",:alt=>cr.name}
                .credit_name
                  = cr.name
                .credit_role
                  = cr.role
                - if cr.desc && cr.desc.strip.length > 0
                  %a.credit_more{:href=>"#"}
                    [ more ]
                  %a.credit_less{:href=>"#"}
                    [ less ]
                  .credit_desc
                    %em
                      = cr.desc
                  - if cr.image && cr.image.length > 0
                    %img{:src=>cr.image,:width=>"50px"}
          .show_crew
            .crew_title
              Crew
            - show.ordered_crew.each do |cr|
              .credit
                %img{:src=>"/images/credit.png",:alt=>cr.name}
                .credit_name
                  = cr.name
                .credit_role
                  = cr.role
                - if cr.desc && cr.desc.strip.length > 0
                  %a.credit_more{:href=>"#"}
                    [ more ]
                  %a.credit_less{:href=>"#"}
                    [ less ]
                  .credit_desc
                    %em
                      = cr.desc
                  - if cr.image && cr.image.length > 0
                    %img{:src=>cr.image,:width=>"50px"}

      .widget{:style=>"text-align:center;"}
        = haml :'snippets/sidebar_300x300', :layout=>false

- else
  Nothing here yet
