%script{ :type => "text/javascript" }
  $().ready(function() {
  $("#release_date").datepicker({showOn: 'button', buttonImage: '/admin/images/Calendar.png', buttonImageOnly: true});
  });

#title.round
  %h1
    = show.name
  %span.right
    You may edit the show here
#content
  #content-container

    .box.round
      = flash_message

      %form{ :method=>"post", :action=>to_path("/show/#{show.pid}/edit"), :enctype=>"multipart/form-data" }
        %h2
          Details
        %ul
          %li
            %label{:for=>"show_name"}
              Name:
            %input{:type=>"text",:name=>"show_name",:value=>show.name}

          %li
            Description
            %br
            %textarea{:rows=>"10",:cols=>"30",:name=>"show_description"}
              = show.description


          %li
            Highlight Description
            %br
            %textarea{:rows=>"10",:cols=>"30",:name=>"show_case_description"}
              = show.show_case_description

          %li
            %label{:for=>"episode_rating"}
              Content Rating:
            %select{:name=>"episode_rating"}
              - if show.episode.first.content_rating
                %option
                  = show.episode.first.content_rating
              %option
                TV-C
              %option
                TV-8
              %option
                TV-G
              %option
                TV-PG
              %option
                TV-14
              %option
                TV-18

          %li
            %label{:for=>"show_status"}
              Status:
            %select{:name=>"show_status"}
              %option{:value=>show.status}
                = show.status
              %option{:value=>"pending"}
                Pending
              %option{:value=>"live"}
                Live
              %option{:value=>"deleted"}
                Deleted

          %li
            %label
              Genera List (comma seperated)
            %input{:type=>"text",:name=>"genera_list",:value=>show.generas_as_list}

          %li
            %label{:for=>"show_url_id"}
              URL ID:
            %input{:type=>"text",:name=>"show_url_id",:value=>show.url_id}

          %li
            %label{:for=>"show_release_date",:style=>"float:left"}
              Release Date:
            %input{:type=>"text",:id=>"release_date", :name=>"show_release_date", :value=>show.release_date, :style=>"float:left"}

          

          %li
            %label{:for=>"show_poster_image"}
              Poster Image:
            %input{:type=>"file",:name=>"show_poster_image"}
            %img{:src=>show.poster}

          %li
            %label{:for=>"show_showcase"}

            - if show_is_showcased(show)
              Remove from showcase:
              %input{:type=>"checkbox", :name=>"show_showcase_remove", :value=>"false"}
            - else
              Add to showcase:
              %input{:type=>"checkbox", :name=>"show_showcase_add", :value=>"true"}

          %li
            %label
              CSS:
            ="<textarea rows='10' cols='40' name='show_css'>#{(show.css.first ? show.css.first.content : '')}</textarea>"

          %li
            %label{:for=>"show_bg_image"}
              BG Image:
            %input{:type=>"file",:name=>"show_bg_image"}
            %p
              PATH:
              = show.bgimage
            %img{:src=>show.bgimage,:width=>"530px"}

          %li
            %label{:for=>"show_highlight_image"}
              Thin Image (560x170):
            %input{:type=>"file",:name=>"show_highlight_image"}
            %p
              PATH:
              = show.highlight_image
            %img{:src=>show.highlight_image}

        %input{:type=>"submit", :value=>"Save"}

    = partial("episodes_box",{ :show => show })
    

    .box.round
      %h2
        Credits

      %a{:href=>to_path("/credit/show/#{show.pid}/new")}
        New Credit
      %br
      %br
      %span
        CAST:
      %ul
        - show.ordered_cast.each do |credit|
          %li
            %a{:href=>to_path("/credit/show/#{show.pid}/#{credit.pid}")}
              [
              = credit.zorder
              ] Name:
              = credit.name
              , Title:
              = credit.role
            %a{:href=>to_path("/credit/#{credit.pid}/show/#{show.pid}/delete"),:style=>"padding-left:50px"}
              [ DELETE ]


      %span
        CREW:
      %ul
        - show.ordered_crew.each_with_index do |credit,idx|
          %li{:style=>(idx % 2 == 1 ? 'background: #ccc' : '')}
            %a{:href=>to_path("/credit/show/#{show.pid}/#{credit.pid}")}
              [
              = credit.zorder
              ] Name:
              = credit.name
              , Title:
              = credit.role
            %a{:href=>to_path("/credit/#{credit.pid}/show/#{show.pid}/delete"),:style=>"padding-left:50px"}
              [ DELETE ]


= sidebar
