.widget
  %h3.widget_title
    Most Recent Episodes
  .widget_content
    .most_recent_episodes
      -# 0.upto(3).each do |idx|
      - episodes = most_recent_episodes
      - episodes.each do |episode|
        %img.boarderd_image.rep_thumb{ :src => "/scripts/timthumb.php?src=#{episode.poster}&amp;h=81&amp;w=155&amp;zc=0", :alt => episode.name }
        .ep_links
          %a.mini_ep_link{:href=>episode.uri}
            ep
            = episode.sequence_order
            \-
            = episode.name
          in
          %a.mini_ep_link{:href=>episode.s.uri}
            = episode.s.name
          %br
          - ed = episode.released_date
          .ep_release_date
            Release Date:
            = "#{ed.month_str} #{ed.day_of_month}, #{ed.year}"
