#message_buttons
  .button1
    %a{ :href => "/shows?order=nsf" }
      Newest Shows
  .button2
    %a{ :href => "/shows" }
      All Shows
/
  END "message_buttons"  //
#content_wrap
  #inner_content
    - showcase_shows = default_showcase.sorted_shows
    - showcase_shows.each do |show_showcase|
      = haml :"snippets/showhighlight", :layout=>false, :locals=>{:show=>show_showcase.s}


    %a.watch_more{:href=>"/shows"}
      Watch More Shows

  #sidebar_home
    - default_showcase.sorted_notes.each do |note|
      = haml :"snippets/widgit", :layout=>false, :locals=>{:note=>note.n}

    .widget{:style=>"text-align:center;"}
      = haml :'snippets/sidebar_300x300', :layout=>false

    = haml :'snippets/recent_episodes2',:layout=>false

    .widget{:style=>"text-align:center;"}
      = haml :'snippets/sidebar_300x300', :layout=>false

  /
    END "sidebar_home"  //
/
  END "content_wrap"  //
