.entry
  %a{ :href => show.uri }
    %img{ :src => "/scripts/timthumb.php?src=#{show.poster}&amp;h=315&amp;w=560&amp;zc=1&amp;zw=560&amp;zh=170&amp;zow=0&amp;zoh=70", :alt => show.name }
  .date.clearfix
    .date_holder
      %span.new_episode_label
        Latest Episode
      %span.month
        = show.latest_episode.month_str
        %span.year
          = show.latest_episode.year
      %span.day
        = show.latest_episode.day_of_month
    /
      END "date_holder"  //
  /
    END "date"  //
  .title_holder
    %h1
      %a.title{ :href => show.uri }
        = show.name
      %a.comment_counter{ :href => show.uri }
        = show.episode_count
    %h3
      Genre's
      %span
        - genera_size = show.generas.size
        - show.generas.each_with_index do |genera,idx|
          %a{ :href => "/shows?genre=#{genera.pid}" }
            = genera.name
          = ((idx+1) < genera_size ) ? "," : ''

  /
    END "title_holder"  //
  .entry_content
    %p
      = show.highlight_description
  /
    END "entry_content"  //
/
  END "entry"  //
